{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section class="{{ not app.user or not app.user.isActivated ? 'notUser' : '' }}">

    <div class="jobOffers">
        <h1>Offres d'emploi</h1>
        {% for jobOffer in jobOffers %}
        <div class="jobOffer">
            <p class="title mb-0">{{ jobOffer.title }}</p>
            <div class="description abstract">{{ jobOffer.description|raw }}</div>
            <p><a href="{{ path('app_candidate_job_offer', {id : jobOffer.id}) }}">lire la suite</a></p>
            <div class="d-flex">
                <span>{{ jobOffer.city }}</span>
                <a href="{{ app.user ? path('app_candidate_apply', { id : jobOffer.id }) : path('app_register' , {'type' : 'candidat'}) }}"
                    type="button" class="btn btn-sm btn-primary ms-auto">POSTULER</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}