<h1>Bienvenue</h1>


<a href="{{ path('app_consultant_accounts') }}">Voir les comptes à valider</a> <span class="bubble">{{ accounts|length }}</span><br>
<a href="{{ path('app_consultant_job_offers') }}">Voir les annonces à valider</a> <span class="bubble">{{ jobOffers|length }}</span><br>
<a href="{{ path('app_consultant_applications') }}">Voir vos candidatures à valider</a> <span class="bubble">{{ applications|length }}</span><br>

