{% extends 'base.html.twig' %}

{% block title %}Consultant{% endblock %}

{% block body %}
{# <h1>Bienvenue {{ app.user.email }}</h1> #}

{% include "_partials/_main.html.twig" %}

<section>
{% if applications %}
    <div class="applications">
        <h1>Candidatures à valider</h1>
        {% for application in applications %}
        <div class="application">
            <p class="title mb-0">{{ application.jobOffer.title }}</p>
            <div class="description abstract">{{ application.jobOffer.description | raw }}</div>
            <p><a href="{{ path('app_consultant_job_offer', {id : application.jobOffer.id}) }}" class="mb-3">lire la
                    suite</a></p>
            <p>
                {{ application.candidate.firstname | capitalize }} {{ application.candidate.lastname | upper }} <br>
                {{ application.candidate.email}} <br>
                <a href="{{ asset('build/uploads/' ~ application.candidate.cv ) }} " target="_blank">Voir le CV</a>
            </p>
            <div class="d-flex justify-content-end mt-3 mt-sm-0">
                <a href="{{ path('app_consultant_activate_application' , { id : application.id}) }}" style="height:31px"
                    type="button" class="btn btn-sm btn-primary me-2">ACTIVER</a>
                <a href="{{ path('app_consultant_remove_application' , { id : application.id}) }}" style="height:31px"
                    type="button" class="btn btn-sm btn-danger">SUPPRIMER</a>
            </div>
        </div>
        {% endfor %}
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
    {% else %}
    <div class="alert alert-info" role="alert">
        <div class="alert-message">
            Aucune candidature à valider.
        </div>
    </div>
    {% include "_partials/_footer.html.twig" %}
    {% endif %}
</section>


{% endblock %}