{% extends 'base.html.twig' %}

{% block title %}Consultant{% endblock %}

{% block body %}
{# <h1>Bienvenue {{ app.user.email }}</h1> #}

{% include "consultant/_main.html.twig" %}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Ville</th>
                <th scope="col">Description</th>
                <th scope="col">Candidat</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{ application.jobOffer.title}}</td>
                <td>{{ application.jobOffer.city}}</td>
                <td>{{ application.jobOffer.description | raw }}</td>
                <td>
                    {{ application.candidate.firstname}} {{ application.candidate.lastname | upper }} <br>
                    {{ application.candidate.email}} <br>
                    <a href="{{ asset('build/uploads/' ~ application.candidate.cv ) }} " target="_blank">Voir le CV</a>
                </td>
                <td>
                    <a href="{{ path('app_consultant_activate_application' , { id : application.id}) }}" type="button" class="btn btn-sm btn-primary">ACTIVER</a> 
                    <a href="{{ path('app_consultant_remove_application' , { id : application.id}) }}" type="button" class="btn btn-sm btn-danger">SUPPRIMER</a>
                </td>  
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}