{% extends 'base.html.twig' %}

{% block title %}Consultant{% endblock %}

{% block body %}
{# <h1>Bienvenue {{ app.user.email }}</h1> #}

{% include "consultant/_main.html.twig" %}

{% if jobOffers %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Ville</th>
                <th scope="col">Description</th>
                <th scope="col">Recruteur</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for jobOffer in jobOffers %}
            <tr>
                <td>{{ jobOffer.title }}</td>
                <td>{{ jobOffer.city }}</td>
                <td>{{ jobOffer.description | raw}}</td>  
                <td>{{ jobOffer.recruiter.name }}</td>  
                <td><a href="{{ path('app_consultant_activate_job_offer' , {id: jobOffer.id}) }}" type="button" class="btn btn-primary btn-sm">ACTIVER</a></td>  
                {# <td><a href="{{ path('app_home') }}" type="button" class="btn btn-primary btn-sm">ACTIVER</a></td>   #}
            </tr>     
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-info" role="alert">
    <div class="alert-message">
        Aucune annonce à valider.
    </div>
</div>
{% endif %}

{% endblock %}