{% extends 'base.html.twig' %}

{% block title %}Consultant{% endblock %}

{% block body %}
{# <h1>Bienvenue {{ app.user.email }}</h1> #}

{% include "_partials/_main.html.twig" %}

<section>
    {% if jobOffers %}
    <div class="jobOffers">
        <h1>Offres d'emploi</h1>
        {% for jobOffer in jobOffers %}
        <div class="jobOffer">
            <p class="title mb-0">{{ jobOffer.title }}</p>
            <div class="description abstract">{{ jobOffer.description|raw }}</div>
            <p><a href="{{ path('app_consultant_job_offer', {id : jobOffer.id}) }}">lire la suite</a></p>
            <div class="d-flex">
                <span>{{ jobOffer.city }}</span>
                <span>&nbsp;{{ jobOffer.recruiter.name is defined and jobOffer.recruiter.name is not null ? ' |
                    '~jobOffer.recruiter.name : "" }}</span>
                <a href="{{ path('app_consultant_activate_job_offer' , {id: jobOffer.id}) }}" type="button"
                    class="btn btn-primary btn-sm ms-auto">ACTIVER</a>
            </div>
        </div>
        {% endfor %}
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
    {% else %}
    <div class="alert alert-info"  role="alert">
        <div class="alert-message">
            Aucune annonce à valider.
        </div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</section>

{% endif %}

{% endblock %}