{% extends 'base.html.twig' %}

{% block title %}Consultant{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.email }}</h1>
<a href="{{ path('app_consultant_accounts') }}">Voir les comptes à valider</a> <br>
<a href="{{ path('app_consultant_job_offers') }}">Voir les annonces à valider</a> <br>
<a href="{{ path('app_consultant_applications') }}">Voir vos candidatures à valider</a>

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Ville</th>
                <th scope="col">Description</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for jobOffer in jobOffers %}
            {% if not jobOffer.isActivated %}
            <tr>
                <td>{{ jobOffer.title }}</td>
                <td>{{ jobOffer.city }}</td>
                <td>{{ jobOffer.description | raw}}</td>  
                <td><a href="{{ path('app_consultant_activate_job_offer' , {id: jobOffer.id}) }}" type="button" class="btn btn-primary">ACTIVER</a></td>  
            </tr>
            {% endif %}            
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}