<div class="d-flex justify-content-center links">
    <a href="{{ path('app_recruiter_post') }}">Publier</a> &nbsp;|&nbsp;
    <a href="{{ path('app_recruiter_job_offers') }}">mes annonces</a>&nbsp;<span class="bubble">{{ jobOffers|length
    }}</span> &nbsp;|&nbsp;
    <a href="{{ path('app_recruiter_applications') }}">mes candidatures</a>&nbsp;<span class="bubble">{{
        applications|length }}
</div>