<h1>Bienvenue {{ app.user.name ? app.user.name|capitalize : app.user.email }}</h1>


<a href="{{ path('app_recruiter') }}">Accueil</a> <br>
<a href="{{ path('app_recruiter_post') }}">Publier une annonce</a> <br>
<a href="{{ path('app_recruiter_job_offers') }}">Voir mes annonces</a> <span class="bubble">{{ jobOffers|length }}</span><br>
<a href="{{ path('app_recruiter_applications') }}">Voir les candidatures</a> <span class="bubble">{{ applications|length }}</span>