{% extends 'base.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}

{% include "recruiter/_main.html.twig" %}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Ville</th>
                <th scope="col">Description</th>
                <th scope="col">Candidat</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{ application.jobOffer.title}}</td>
                <td>{{ application.jobOffer.city}}</td>
                <td>{{ application.jobOffer.description | raw }}</td>
                <td>
                    {{ application.candidate.firstname }} {{ application.candidate.lastname | upper}} <br>
                    {{ application.candidate.email }} <br>
                    <a href="{{ asset('build/uploads/' ~ application.candidate.cv ) }} " target="_blank">Voir le CV</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}