{% extends 'base.html.twig' %}

{% block title %}Recruteur - Candidatures{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}

{% if applications %}
<section>
    <div class="applications">
        <h1>Candidatures</h1>
        {% for application in applications %}
        <div class="application row">
            <div class="col-sm-12 col-md-5 d-flex flex-column align-self-center text-center pe-0">
                <p class="title mb-0">{{ application.jobOffer.title}}</p>
                <p><a href="{{ path('app_recruiter_job_offer_details', {id : application.jobOffer.id}) }}">détails de
                        l'offre</a></p>
            </div>
            <div class="colsm-12 col-md-7 ">
                <div class="card card_application m-auto ">
                    {{ application.candidate.firstname | capitalize }} {{ application.candidate.lastname | upper}} <br>
                    {{ application.candidate.email }} <br>
                    <a href="{{ asset('build/uploads/' ~ application.candidate.cv ) }} " target="_blank">Voir le CV</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</section>
{% else %}
<div class="alert alert-info" role="alert">
    <div class="alert-message">
        Aucune candidature en cours.
    </div>
</div>
{% include "recruiter/_links.html.twig" %}
{% endif %}



{% endblock %}