{% extends 'base.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}


<section>
    <h1>Modification de l'offre d'emploi</h1>
    <div>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.city) }}
        {{ form_row(form.description) }}
        <button type="submit" class="btn btn-sm btn-warning mt-3">MODIFIER</button>
        <a href="{{ path('app_recruiter_job_offers') }}" type="button" class="btn btn-sm btn-danger mt-3">ANNULER</a>
        {{ form_end(form) }}
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</section>

{% endblock %}