{% extends 'base.html.twig' %}

{% block title %}Recruteur - Publieur une annonce{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}

<section>

    <div class="edit">
        <h1>Publier une annonce</h1>
        <div>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.address) }}
            {{ form_row(form.zipcode) }}
            {{ form_row(form.city) }}
            <div class="my-3">
                <button type="submit" class="btn btn-sm btn-warning ">MODIFIER</button>
                <a href="{{ path('app_recruiter')}}" type="button" class="btn btn-sm btn-danger ">ANNULER</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% include "recruiter/_links.html.twig" %}
</section>

{% endblock %}