{% extends 'base.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.email }}</h1>

{% include "recruiter/_main.html.twig" %}

<div>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.address) }}
    {{ form_row(form.zipcode) }}
    {{ form_row(form.city) }}
    <button type="submit" class="btn btn-primary mt-3">Modifier</button>
    {{ form_end(form) }}
</div>

{% endblock %}