{% extends 'base.html.twig' %}

{% block title %}Recruteur - Mes Offres d'Emploi{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}

<section>
    {% include "_partials/_flash.html.twig" %}
    <h1>Mes offres d'emploi</h1>
    <div class="jobOffers">
        {% for jobOffer in jobOffers %}
        <div class="jobOffer">
            <p class="title mb-0">{{ jobOffer.title }}</p>
            <div class="description abstract">{{ jobOffer.description | raw}}</div>
            <p><a href="{{ path('app_recruiter_job_offer_details', {id : jobOffer.id}) }}">lire la suite</a></p>
            <div class="d-flex">
                <span>{{ jobOffer.city }}</span>
                <div class="ms-auto">
                    <a href="{{ path('app_recruiter_edit_job_offer', {id : jobOffer.id} ) }}"
                        class="btn btn-sm btn-warning ">MODIFIER</a>
                    <a href="{{ path('app_recruiter_remove_job_offer', {id : jobOffer.id} ) }}"
                        class="btn btn-sm btn-danger ">SUPPRIMER</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</section>

{% endblock %}