{% extends 'base.html.twig' %}

{% block title %}Recruteur{% endblock %}

{% block body %}

{% include "recruiter/_main.html.twig" %}

<div>
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.city) }}
    {{ form_row(form.description) }}
    <button type="submit" class="btn btn-primary" >Publier</button>
    {{ form_end(form) }}
</div>

{% endblock %}
