{% extends 'base.html.twig' %}

{% block title %}Recruteur - Publier Une Offre d'Emploi{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}

<section>
    <div class="post">
        <h1>Publier une annonce</h1>
        <div class="mb-3">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.city) }}
            {{ form_row(form.description) }}
            <button type="submit" class="btn btn-sm btn-primary">Publier</button>
            {{ form_end(form) }}
        </div>
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</section>

{% endblock %}