{% extends 'base.html.twig' %}

{% block title %}Candidat - modification du profil{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}

<section>
    <div class="edit">
        <h1>Modifier votre profil</h1>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.cv) }}
        <div>
            {{ form_row(form.cvFile) }}
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-sm btn-warning">MODIFIER</button>
            <a href="{{ path('app_candidate')}}" type="button" class="btn btn-sm btn-danger ">ANNULER</a>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="ghost"></div>
    {% include "_partials/_footer.html.twig" %}
</section>

{% endblock %}