{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}

<section>
    <div class="edit">
        <h1>Modification du profil</h1>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.cv) }}
        <div>
            {{ form_row(form.cvFile) }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
        {{ form_end(form) }}
    </div>
    {% include "candidate/_links.html.twig" %}
</section>

{% endblock %}