{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.email }}</h1>
{# {{ dump(app.user) }} #}

<a href="{{ path('app_candidate_edit') }}">Compléter mon profil</a> <br>
<a href="#">voir les annonces</a> <br>
<a href="#">voir mes candidatures</a>

{# <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Profil</h5>
        <p class="card-text">{{ app.user.email }}</p>
        <p class="card-text">{{ app.user.firstname }}</p>
        <p class="card-text">{{ app.user.lastname }}</p>
        <a href="#" class="btn btn-primary">MODIFIER</a>
    </div>
</div> #}

<div>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.cv) }}
    <button type="submit" class="btn btn-primary mt-3">Modifier</button>
    {{ form_end(form) }}
</div>

{% endblock %}