{% extends 'base.html.twig' %}

{% block title %}Candidat - Offres d'Emploi{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}
{% if jobOffers %}
<section>
    {% include "_partials/_flash.html.twig" %}
    <h1>Offres d'emploi</h1>
    <div class="jobOffers">
        {% for jobOffer in jobOffers %}
        <div class="jobOffer">
            <p class="title mb-0">{{ jobOffer.title }}</p>
            <div class="description abstract">{{ jobOffer.description|raw }}</div>
            <p><a href="{{ path('app_candidate_job_offer', {id : jobOffer.id}) }}">lire la suite</a></p>
            <div class="d-flex">
                <span>{{ jobOffer.city }}</span>
                <a href="{{ path('app_candidate_apply', { id : jobOffer.id }) }}" type="button"
                    class="btn btn-sm ms-auto text-uppercase {{ jobOffer.id in jOId ? 'disabled btn-secondary' : 'btn-primary' }}">{{
                    jobOffer.id in jOId ? 'a postulé' : 'POSTULER' }}</a>
            </div>
        </div>
        {% endfor %}
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</section>
{% endif %}


{% endblock %}