{% extends 'base.html.twig' %}

{% block title %}Candidat - Offre d'Emploi{% endblock %}

{% block body %}

{% include "_partials/_main.html.twig" %}

<section>
    <h1>Offre d'emploi</h1>
    <div class="jobOffers">
        <div class="jobOffer card">
            <p class="title mb-0">{{ jobOffer.title }}</p>
            <div class="description mb-3">{{ jobOffer.description|raw }}</div>
            <div class="d-flex">
                <span>{{ jobOffer.city }}</span> 
                <a href="{{ path('app_candidate_apply', { id : jobOffer.id }) }}" type="button"
                    class="btn btn-sm ms-auto text-uppercase {{ jobOffer.id in jOId ? 'disabled btn-secondary' : 'btn-primary' }}">{{
                    jobOffer.id in jOId ? 'a postulé' : 'POSTULER' }}</a>
            </div>
        </div>
        <div class="ghost"></div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</section>

{% endblock %}