{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.email }}</h1>

{% include "candidate/_main.html.twig" %}
{% include "_partials/_flash.html.twig" %}

{% if applications %}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Ville</th>
                <th scope="col">Description</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>
                <td>{{ application.jobOffer.title }}</td>
                <td>{{ application.jobOffer.city }}</td>
                <td>{{ application.jobOffer.description | raw }}</td>     
                <td><a href="{{ path('app_candidate_application_remove', { id : application.jobOffer.id}) }}" type="button" class="btn btn-sm btn-danger">SUPPRIMER</a></td> 
            </tr>       
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}