<p>Bonjour, un candidat vient de postuler à l'une de vos annonces.</p>
<p>Veuillez trouver en pièce jointe son CV.</p>

<div>
    <p>Intitulé : {{ application.jobOffer.title }}</p>
    <p>Candidat :
        <ul>
            <li>{{ application.candidate.firstname|capitalize }} {{ application.candidate.lastname|upper }} </li>
            <li>{{ application.candidate.email }}</li>
        </ul>
    </p>
</div>

<p><a href="{{ absolute_url(path('app_recruiter_job_offers')) }}">Voir mes annonces</a> - <a href="{{ absolute_url(path('app_recruiter_applications')) }}">Voir les candidatures</a></p>
<p>
    Cordialement.
</p>
<p>
    <strong>TRT Conseil.</strong>
</p>
